.loader_text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-top: 50%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.here{

}