body {
    background: #1d1a1a;
}

.movieTitle {
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    width: 300px;
    margin: 20px auto 0;
}
.hrTitle{

    width: 300px;
}

.movieYear {
    font-family: sans-serif;
    color: white;
}

.movieSummary {
    padding: 5px;
    color: white;

    font-family: sans-serif;

}

.genres{
    color: white;
    padding: 0 0 5px;
    margin-bottom: 20px;
    display: inline-block;
    list-style-type: none;
    font-family: sans-serif;
    border-bottom: rebeccapurple ridge 5px;
}
.genre{
    display: inline;
    margin-left: 4px;
    margin-right: 4px;
}

.movie {
    border-radius: 20px;
    min-height: 570px;
    margin-top: 20px;
    width: 400px;
    /*background: #c8c8c8;*/
    background: url("https://i.pinimg.com/originals/55/a8/cb/55a8cbe16c3d28bd3462fc4fdea4dd0f.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  cover;
    border: #4a4a4a 3px dashed;
    text-align: center;
}

.imgMovie {
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    transition: 0.4s;
    border: 2px solid black;
}
.imgMovie:hover {
    transition: 0.4s;
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 0px 0px 26px 14px rgba(191, 200, 202, 0.63);
    border: 2px solid black;
}