body{
    background: #2d2828;
}
.movieTitle{
    background: #ffffff;
    display: inline-block;
}
.movieYear{
    background: whitesmoke;
    width: 50px;
}
.movieSummary{
    background: whitesmoke;

}
.genres{
    width: 100px;
    background: whitesmoke;
}